body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif; 
  background-color: #faf3e0; 
  color: #333; 
}

.header {
  background-color: #5a3e2b; 
  color: #fff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: #f8c471; 
  margin: 0 15px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #d35400;
}

.hero {
  text-align: center;
  padding: 5%;
  background-color: #212226; 
  color: #ecf0f1;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  margin-bottom: 20px;
  color: #ecf0f1;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #ecf0f1;
}

.cta-button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.features {
  padding: 60px 20px;
  background-color: #ececec; 
  border-radius: 20px;
}

.features h2 {
  font-family: 'Cinzel', serif;
  color: #5a3e2b;
}

.feature-card {
  display: flex;
  flex-direction: column;
  padding: 8px; 
  margin-bottom: 12px;
  border-radius: 8px; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.feature-card:hover {
  transform: translateY(-3px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}

.contact {
  padding: 60px 20px;
  background-color: #fff;
  color: #fff;
  border-radius: 20px;
}

.contact h1 {
  color: #5a3e2b;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #5a3e2b;
  color: white;
}

.footer a {
  color: #f39c12;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}
